.star {
      font-size: 3rem;
      color: #b0c4de;
    }
    .filled {
      color: #1e90ff;
    }
    .bad {
      color: #deb0b0;
    }
    .filled.bad {
      color: #ff1e1e;
    }
.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.star1{
   font-size: 2rem;
      color: #b0c4de;
}